.App {
  text-align: center;
  height: 100vh ;
  background-image: url("./comedyClub.jpeg");
  background-size: cover;
  background-color: black;
  
}

.Greet {
  color: whitesmoke;
  margin-top: 0;

}

.Joke {
  color: whitesmoke;
  text-align: center;
}

.Punchline {
  color: whitesmoke;
  text-align: center;
}

@media(max-width: 480px){
}
